version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: django_backend
    command: >
      sh -c "python sme_school_app/manage.py migrate --noinput &&
             python sme_school_app/manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]
    env_file:
      - .env
    depends_on:
      - backend


  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"

  # Celery placeholder for future use
  # celery:
  #   build:
  #     context: ./backend
  #     dockerfile: Dockerfile
  #   container_name: celery_worker
  #   command: python -m celery -A sme_school_app worker -l info
  #   volumes:
  #     - ./backend:/app
  #   env_file:
  #     - .env
  #   depends_on:
  #     - db
  #     - redis

volumes:
  postgres_data:
