@import "tailwindcss";

@theme {
  --color-primary: #4169E1;
  --color-primary-dark: #3154B0;
  --color-primary-light: #6A8CFF;
  --color-secondary: #2ecc71;
  --color-secondary-dark: #25a25a;
  --color-secondary-light: #6ee7b7;
}
/* 
@layer base {
  :root {
    --bg-primary: #ffffff;
    --bg-secondary: #fafafa;
    --text-primary: #000000;
    --text-secondary: #666666;
    --border-color: #e5e7eb;
  }

  body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
  }
} */
